<div class="box">
  <mat-card class="shoe-card" *ngFor="let sneaker of sneakers">
    <mat-card-content>
      <mat-card-header class="header">
          <mat-card-title>{{sneaker.brand}}</mat-card-title>
          <mat-card-subtitle>{{sneaker.name}}</mat-card-subtitle>
      </mat-card-header>
      <div class="img-box">
        <img class="shoe-img" mat-card-image src="{{sneaker.imageUrl}}">
      </div>
      <mat-card-content>
        <p>
          <strong>Opis: </strong>{{sneaker.description}}
        </p>
        <p>
          <strong>Cena: </strong> {{sneaker.price}} $
        </p>
      </mat-card-content>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button mat-button color="primary" (click)="moveToShop(sneaker.shopUrl)">Więcej</button>
      <button mat-button color="primary" (click)="openCreateDialog(sneaker)">Edytuj</button>
      <button mat-button color="primary" (click)="delete(sneaker.id)">Usuń</button>
    </mat-card-actions>
  </mat-card>
</div>
