.edit-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  form{
    width: 100%;
  }
  .form-box{
    display: flex;
    flex-direction: column;
    min-width: 100%;
  }
}
